<form>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Brand</mat-label>
      <input matInput placeholder="Ex. Petzl" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Model</mat-label>
      <input matInput placeholder="Ex. Jumar" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Ex. Ascender" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Quantity</mat-label>
      <input matInput type="number" />
    </mat-form-field>
  </p>
  <button mat-stroked-button>Submit</button>
</form>
