<div class="container">
    <h1>Item registration form</h1>
    <form (ngSubmit)="onSubmit()" #itemRegForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required
               [(ngModel)]="model.name" name="name">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
               [(ngModel)]="model.description" name="description">
      </div>

      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" id="quantity" required
               [(ngModel)]="model.quantity" name="quantity">
      </div>

      <div class="form-group">
        <label for="purchaseDate">Purchase date</label>
        <input type="text" class="form-control" id="purchaseDate" required
               [(ngModel)]="model.purchaseDate" name="purchaseDate">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
