<h2>Klubelio stuff</h2>
<table class="table table-striped">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>description</th>
    <th>quantity</th>
    <th>date purchased</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of items">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.description}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.purchaseDate | date: 'yyyy/MM/dd'}}</td>
    <td><span class="glyphicon glyphicon-pencil clickable" (click)="onClickEdit(item)" routerLink="/save"></span></td>
  </tr>
</table>
